
services:
  backend:
    build: ./resto_api
    container_name: django_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./resto_api:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./resto_api/.env

  frontend:
    build: ./mon-frontend
    container_name: react_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file:
      - ./resto_api/.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"


volumes:
  pg_data:
